{% extends './base.html' %}

{% block main %}
<section class="presentation">
    <div class="presentation__container">
        <div class="presentation__paragraphs">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate error assumenda rem minus aperiam veniam corrupti eveniet, sapiente eius perferendis odit ullam quo accusamus, quos doloribus consectetur illo voluptatem distinctio.Cupiditate error assumenda rem minus aperiam veniam corrupti eveniet, sapiente eius perferendis odit ullam quo accusamus, quos doloribus consectetur illo voluptatem distinctio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur deserunt sed cumque, deleniti tempora quod quo possimus architecto officia laborum neque ut quaerat obcaecati? Maiores cumque totam dignissimos dolores reprehenderit!</p>
        </div>
        <picture class="presentation__picture">
            <img src="/static/assets/imgs/academy0.jpg" alt="">
        </picture>
    </div>
</section>

<section class="galery">
    <div class="galery__container">
        <div class="galery__grid">
            <div class="galery__img">
                <img src="/static/assets/imgs/academy1.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy2.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy3.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy4.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy5.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy6.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy7.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy8.jpg" alt="">
            </div>
            <div class="galery__img">
                <img src="/static/assets/imgs/academy9.jpg" alt="">
            </div>
            
        </div>
    </div>
</section>
{% endblock %}


{% block script %}

{% endblock %}